APP_NAME=Doomus 
APP_ENV=production
APP_KEY=
APP_DEBUG=false
APP_URL=http://www.doomus.com.br

LOG_CHANNEL=stack

DB_CONNECTION=mysql
DB_HOST=127.0.0.1
DB_PORT=3306
DB_DATABASE=doomus20_doomus
DB_USERNAME=doomus20_admin
DB_PASSWORD=dbpassword40

BROADCAST_DRIVER=log
CACHE_DRIVER=file
QUEUE_CONNECTION=sync
SESSION_DRIVER=file
SESSION_LIFETIME=120

REDIS_HOST=127.0.0.1
REDIS_PASSWORD=null
REDIS_PORT=6379

MAIL_DRIVER=smtp
MAIL_HOST=smtp.mailtrap.io
MAIL_PORT=2525
MAIL_USERNAME=c6ded0330c6986
MAIL_PASSWORD=7222227d03f472
MAIL_ENCRYPTION=tls

PUSHER_APP_ID=
PUSHER_APP_KEY=
PUSHER_APP_SECRET=
PUSHER_APP_CLUSTER=mt1

MIX_PUSHER_APP_KEY="${PUSHER_APP_KEY}"
MIX_PUSHER_APP_CLUSTER="${PUSHER_APP_CLUSTER}"

PAYPAL_CLIENT_ID=AdwcdXX0rds2X-qrkfkg0z5g-ixXqdrmotEd9mBMoSODPKHkQHtn3wawgKe0E7pWhkZiFKj38M5rAyLR
PAYPAL_SECRET=EHL6zy7kHPwlx7nVLWL2D5AT671H-XWOkp_OIUlQPvORc9jBBq9svQWiT5hHpqfT8MjWz61CaL1mzog5
PAYPAL_MODE=sandbox