@import url(https://fonts.googleapis.com/css?family=Poppins);

.poppins {
  font-family: 'Poppins';
}

.poppins-bold {
  font-family: 'Poppins';
  font-weight: bold;
}

body{
  font-family: 'Open Sans',arial,sans-serif;
}
.card{
  width: 300px;
  min-height: 200px;
  background-color: #ECECEC;
  border: 1px solid #C6C6C6;
  border-radius: 3px;
  text-align: left;
}
.card-hover{
  background-color: black;
  position: absolute;
  width: 290px;
  height: 185px;
  margin: 5px 5px 0 5px;
  display: none;
  opacity: 0.7;
}
.card-image{
  margin: 5px 5px 0 5px;
}
.card-image img{
  width: 290px;
  height: 185px;
}
.card-text{
  padding: 5px;
  font-size: 13px;
  font-weight: bold;
  color: white;
  height: 30px;
}
.card-text span{
  font-size: 10px;
  font-weight: normal;
}