a {
  text-decoration: none !important;
  padding-left: 5px;
}

body {
  height: 100%;
}

footer {
  position: relative;
  bottom:0;
}

a:hover {
  cursor: pointer;
}

.stars-rating:hover {
  cursor: pointer;
}

.star-selected {
  color: gold;
}

.star-selected-2 {
  color: gold;
}

.star {
  color: black;
}

.mdc-button__label {
  font-weight: 600;
}

.login-header {
  text-align: center;
}

.login-doomus-logo {
  width: 150px;
  height: 150px;
  padding-top: 80px;
  fill: currentColor;
}

.login-email,
.login-password {
  display: block;
  width: 300px;
  margin: 20px auto;
}

.login-button-container {
  display: flex;
  justify-content: flex-end;
  width: 300px;
  margin: auto;
}

.login-button-container button {
  margin: 3px;
}

button:focus {
  border: 0 none;
  outline: 0;
}

.general-button {
  background-color:#76323f !important;
}

#fastMenuButton {
  position: fixed;
  bottom: 1rem;
  right: 1rem;
}

#fastCloseButton {
  position: fixed;
  bottom: 1rem;
  right: 1rem;
}

#fastSupportButton {
  position: fixed;
  bottom: 1rem;
  right: 5rem;
}

#fastSearchButton {
  position: fixed;
  bottom: 5rem;
  right: 1rem;
}

.input-valid {
  border-color: green;
}

.input-invalid {
  border-color: red;
}
.label-invalid {
  color: red;
}

.input-process {
  border-color: orange;
}

.input-search-sm-devices {
  top: 1rem;
  left: 50%;
  width: 95%;
  transform: translate(-50%, -50%);
  z-index: 1090;
}

/* .support-tab-header {
  background-color: #565656;
  width: 22rem;
  height: 32px;
  position: fixed;
  bottom: 0;
  right: 1rem;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
}

.support-tab-content {
  background-color: #D7CEC7;
  width: 22rem;
  height: 0px;
  position: fixed;
  bottom: 0;
  right: 1rem;
}

.support-tab-header:hover {
  cursor: pointer;
} */

.mdc-drawer .mdc-list-item--activated .mdc-list-item__graphic {
  color: #565656;
}

.mdc-drawer .mdc-list-item--activated .mdc-list-item__text {
  color: #565656;
}

:not(.mdc-list--non-interactive)>:not(.mdc-list-item--disabled).mdc-list-item--activated::before, :not(.mdc-list--non-interactive)>:not(.mdc-list-item--disabled).mdc-list-item--activated::after {
  background-color: #D7CEC7;
}

.mdc-tab--active .mdc-tab__icon {
  color: #565656;
  fill: currentColor;
}

.mdc-tab--active .mdc-tab__text-label {
  color: #565656;
}

.mdc-tab-indicator .mdc-tab-indicator__content--underline {
  border-color: #565656;
}

.mdc-tab {
  --mdc-theme-primary: #D7CEC7;
}

.cart-add-icon-button:hover {
  color: green;
}