a {
  text-decoration: none !important;
  /* padding-left: 5px; */
}

html {
  height: 100%;
}

.row {
  margin-left: 0;
  margin-right: 0;
}

body {
  min-height: 100%;
  display: grid;
  grid-template-rows: 1fr auto;
}

.footer {
  grid-row-start: 2;
  grid-row-end: 3;
}

.footer-social-icons:hover {
  color: #3578E5;
  cursor: pointer;
}

a:hover {
  cursor: pointer;
}

.stars-rating:hover {
  cursor: pointer;
}

.star-selected {
  color: gold;
}

.star-selected-2 {
  color: gold;
}

.star {
  color: black;
}

.mdc-button__label {
  font-weight: 600;
}

.login-header {
  text-align: center;
}

.login-doomus-logo {
  width: 150px;
  height: 150px;
  padding-top: 80px;
  fill: currentColor;
}

.login-email,
.login-password {
  display: block;
  width: 300px;
  margin: 20px auto;
}

.login-button-container {
  display: flex;
  justify-content: flex-end;
  width: 300px;
  margin: auto;
}

.login-button-container button {
  margin: 3px;
}

button:focus {
  border: 0 none;
  outline: 0;
}

.general-button {
  background-color:#76323f !important;
}

#supportButton {
  position: fixed;
  bottom: 1rem;
  right: 1rem;
}

.input-valid {
  border-color: green;
}

.input-invalid {
  border-color: red;
}
.label-invalid {
  color: red;
}

.input-process {
  border-color: orange;
}

.input-search-sm-devices {
  top: 1rem;
  left: 50%;
  width: 95%;
  transform: translate(-50%, -50%);
  z-index: 1090;
}

.mdc-drawer .mdc-list-item--activated .mdc-list-item__graphic {
  color: #565656;
}

.mdc-drawer .mdc-list-item--activated .mdc-list-item__text {
  color: #565656;
}

:not(.mdc-list--non-interactive)>:not(.mdc-list-item--disabled).mdc-list-item--activated::before, :not(.mdc-list--non-interactive)>:not(.mdc-list-item--disabled).mdc-list-item--activated::after {
  background-color: #D7CEC7;
}

.mdc-tab--active .mdc-tab__icon {
  color: #565656;
  fill: currentColor;
}

.mdc-tab--active .mdc-tab__text-label {
  color: #565656;
}

.mdc-tab-indicator .mdc-tab-indicator__content--underline {
  border-color: #565656;
}

.mdc-tab {
  --mdc-theme-primary: #D7CEC7;
}

.cart-add-icon-button:hover {
  color: green;
}